/* Reset and base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

header {
    position: absolute;
    top: 20px;
    right: 10px;
}

.download-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #0d0d0e;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
}

.download-btn:hover {
    background-color: #0056b3;
}

.download-btn::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255,255,255,0.4), rgba(255,255,255,0) 70%);
    animation: sparkle 2s linear infinite;
    opacity: 0.75;
    pointer-events: none; /* Ensure the effect doesn't interfere with clicking */
}

@keyframes sparkle {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100%, 100%);
    }
}

.landing-page {
    display: flex;
    height: 100vh;
}

.landing-page header {
    position: absolute;
    top: 20px;
    left: 10px;
    font-weight: bold;
}

.left-half {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(98, 209, 209);
}

.right-half {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-content {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    margin-top: 10%;
}

.landing-content h1 {
    font-family:'Montserrat', sans-serif;
    font-size: 4em;
    font-weight: bold;
    color: #333;
    letter-spacing: 2px;
    padding-bottom: 3%;
}

.subtitle {
    font-size: 1.5em;
    color: #666;
    margin-bottom: 3%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
    position: relative; /* Added for sparkling effect */
}

nav ul li a {
    color: #0c0b11;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s ease;
    position: relative;
    z-index: 1; /* Ensure the text is above the sparkle */
}

nav ul li a:hover {
    color: #007bff;
}

.landing-image {
    text-align: center;
    width: 80%;
}

.landing-image img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.landing-content p{
    font-style: italic;
    font-size: 1.3em;
    color: #333;
    font-family: 'Merriweather', serif;

    padding-left: 1em;
    margin: 1em 0;
    position: relative;
}



/* Contact page styles */
.contact-page {
    background-image: url('contact-background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ensure the contact page takes the full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #111010;
    padding: 100px;
    font-family: 'Garamond', serif;
}

.contact-page h2 {
    font-size: 3em;
    margin-bottom: 20px;
    margin-left: 250px;
    font-weight: bold;
}

.contact-page p {
    font-weight: bold;
}

.contact-details {
    text-align: left;
    max-width: 600px;
    margin-left: 300px; /* Move contact details to the right */
}

.contact-details p {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.contact-page a {
    color: #0c0c0c;
    text-decoration: underline;
}

.contact-page a:hover {
    color: #007bff;
    text-decoration: underline;
}

/* Certification page styles */

.certificates-page {
    background-image: url('certificates-background.png');
    background-size: cover;
    height: 100vh; /* Ensure the contact page takes the full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #111010;
    padding: 100px;
    font-family: 'Garamond', serif;
}

.certificates-page h2 {
    font-family: 'Garamond', serif;
    font-size: 4em;
    margin-bottom: 20px;
    font-weight: bold;
}

.certificates-details {
    max-width: 600px;
    font-size: 2em;
    margin-bottom: 10%;
    justify-content: center;
    align-items: center;
}

/* Experience page style */

.experience-page {
    background-image: url('experience-background.jpg');
    background-size: cover;
    height: 100vh; /* Ensure the contact page takes the full viewport height */
    display: flex;
    
    flex-direction: column;
}

.experience-page h1{ 
    justify-content: left;
    font-weight: bold;
    align-items: top;
  
    font-size: 4em;
    text-align: left;
    color: #ffffff;
    font-family: 'Garamond', serif;
    position: relative;
}

.experience-details {
    justify-content: left;
    font-weight: bold;
    align-items: top;
    margin-top: 3%;
    margin-bottom: 5%;
    text-align: left;
    color: #ffffff;
    
    font-family: 'Garamond', serif;
}

/* Education page style */

.education-page {
    background-image: url('education-background.jpg');
    background-size: cover;
    height: 100vh; /* Ensure the contact page takes the full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.education-page h1{
    justify-content: center;
    font-weight: bold;
    align-items: top;
    margin-left: 30%;
    font-size: 4em;
    text-align: center;
    color: #ffffff;
    font-family: 'Garamond', serif;
    position: relative;
}

.education-page h1::after {
    content: '';
    display: block;
    width: 100%; /* Adjust width as needed */
    height: 4px; /* Adjust height as needed */
    background: linear-gradient(to right, #f8fafa, #0385c2); /* Fancy gradient underline */
    position: absolute;
    bottom: -10px; /* Adjust distance from the text */
    left: 50%;
    transform: translateX(-50%);
}

.education-details {
    justify-content: center;
    font-weight: bold;
    align-items: top;
    margin-top: 3%;
    margin-left: 30%;
    margin-bottom: 5%;
    text-align: center;
    color: #ffffff;
    
    font-family: 'Garamond', serif;
}